<ion-view view-title="Home" hide-back-button="true">
  <ion-content>
    <div class="app-bg">
      <h1 class="header-dash">Mingo</h1>
      <a href="#/tab/debug"><img class="img-logo-dash" src="./img/transparentLogo.gif"/></a>

      <a class="button button-block button-positive" href="#/tab/mood">Start Exploring</a>
      <a class="button button-block button-positive" href="#/tab/reminder">Set a Reminder</a>
      <a class="button button-block button-positive" href="#/tab/agent">Mingo Travel Agent</a>
      <p style="line-height:2;" />
      &nbsp;
    </div>
  </ion-content>
</ion-view>
