<ion-view view-title="Mingo Travel Agent">
  <ion-content>
    <div class="app-bg">
      <h1 style="text-align:center;">Trip Dates</h1>

      <div class="list">
        <label class="item item-input">
          <div class="input-label">
            Start Date:
          </div>
          <input type="date" name="startdate" ng-model="inputStartDate" ng-change="changeStartDate(inputStartDate)"></input>
        </label>

        <label class="item item-input">
          <div class="input-label">
            End Date:
          </div>
          <input type="date" name="enddate" ng-model="inputEndDate" ng-change="changeEndDate(inputEndDate)"></input>
        </label>
      </div>

      <button class="button button-block button-positive" ng-click="next()">Next</button>

    </div>
  </ion-content>
</ion-view>
