<ion-view view-title="Debug">
  <ion-content>
    <div class="app-bg">
      <h1 style="text-align:center;">Debug Menu</h1>
      <img class="img-logo-dash" src="./img/transparentLogo.gif" />

      <button class="button button-block button-positive" ng-click="triggerAlarm()">Trigger Next Reminder</button>

      <button class="button button-block button-positive" ng-click="triggerTrip()">Trigger Planned Trip</button>

      <a class="button button-block button-positive" href="#/tab/dash">Home</a>

      <p style="line-height:13;" />
      &nbsp;
    </div>
  </ion-content>
</ion-view>
