<ion-view view-title="Attraction Details">
  <ion-content>
  	<div class="app-bg">

  		<h1 style="text-align:center;">Attraction Details</h1>

  		<h3 style="text-align:center;font-weight:bold;">{{attraction.attraction}}</h3>

		<div class="list card">

			<div class="item item-image">
		 		<img ng-src="{{attraction.imageUrl}}">
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider" style="background:#AAC2D2;text-align:center;">
		    		Information
		    </div>
		    <div class="item item-text-wrap" style="background:#D7DEED;text-align:center;">
		      		{{attraction.description}}
		    </div>

		</div>

		<p style="line-height:8;"/>

		&nbsp;
	</div>
  </ion-content>
</ion-view>
